body {
    .page {
        p {
            margin-top: 0;
            margin-bottom: 34px;
        }
        .main-text {
            padding: 45px 0;
            text-align: center;
            margin: 0 auto;
            @include breakpoint ($med-large) {
                text-align: left;
            }
            @include breakpoint ($large) {
                max-width: 770px;
            }
        }
        h1 {
            text-transform: uppercase;
            font-size: 31px;
            margin-top: 45px;
            padding: 0;
            @include breakpoint ($large) {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            p {
                padding: 0;
                margin: 0;
            }
        }
        p {
            p {
                padding: 0;
                margin: 0;
            }
        }
    }
    ul li {
        list-style-type: none;
        text-transform: uppercase;
    }
    .grey {
        background-color: $off-white;
    }
    .banner.clients {
        background-image: url(/img/boats.jpg)
    }
    .page.clients {
        padding: 50px 0;
        h1 {
            font-size: 31px;
            text-transform: uppercase;
            font-weight: normal;
            border-bottom: 2px solid #888;
            display: inline;
            line-height: 1.2;
            padding-bottom: 15px;
            @include breakpoint ($large) {
                line-height: 3.5;
            }
        }
    }
}
