header {
    background: $dark-blue;
    .logo {
        display: block;
        margin: 0 auto;
        padding: 10px;
        max-width: 100%;
    }
}

.banner {
    background: url(/bannerimg.jpg);
    height: 515px;
    background-size: cover;
    background-position: center center;
    .banner-box {
        color: $white;
        background-color: $dark-blue-trans;
        position: relative;
        top: 10%;
        width: 80%;
        margin: auto auto;
        text-align: center;
        padding: 36px;
        display: none;
        h1 {
            font-size: 18px;
            @include breakpoint($med) {
                font-size: 20px;
            }
            @include breakpoint($large) {
                font-size: 22px;
            }
        }
        p {
            margin: 0;
            line-height: 1.4;
            font-family: $brandon-grotesque;
            font-size: 24px;
            @include breakpoint($med) {
                font-size: 28px;
            }
            @include breakpoint($large) {
                font-size: 31px;
            }
        }
        @include breakpoint($med) {
            top: 20%;
        }
        @include breakpoint($large) {
            width: 40%;
            top: 15%;
        }
        @include breakpoint($larger) {
            top: 25%;
        }
    }
}

.about {
    padding-top: 65px;
    padding-bottom: 65px;
    h1 {
        font-family: $brandon-text;
        font-size: 31pt;
        text-transform: uppercase;
        font-weight: normal;
        border-bottom: 2px solid $light-grey;
        display: inline;
        span {
            font-family: $brandon-text;
            font-size: 15pt;
            display: block;
        }
    }
}

.sectors {
    padding-top: 83px;
    padding-bottom: 83px;
    background-color: $off-white;
}

.three-sections {
    padding-top: 94px;
    padding-bottom: 94px;
    .grid4 {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    p {
        margin: 24px 0;
    }
    h1 {
        font-family: $brandon-grotesque;
        font-size: 22pt;
        border-bottom: 1px solid $light-grey;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
}

footer {
    background: $dark-blue;
    color: $white;
    padding: 40px 0 0;
    text-align: right;
    text-transform: uppercase;
    .grid2 {
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}