/*colors*/

$white: #fff;
$text: #111;
$dark-blue: #001531;
$dark-blue-trans: rgba(0, 21, 49, 0.8);
$off-white: #eaeaea;
$light-grey: #888888;
$link-color: #008ed2;
$brandon-text: 'Brandon Text',
sans-serif;
$brandon-grotesque-black: 'Brandon Grotesque Black',
sans-serif;
$brandon-grotesque: 'Brandon Grotesque Black',
sans-serif;
