/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Brandon Text";
  src: url(/stellamar/fonts/brandon_text_regular.eot);
  src: url(/stellamar/fonts/brandon_text_regular.eot?#iefix) format('embedded-opentype'), url(/stellamar/fonts/brandon_text_regular.woff) format('woff'), url(/stellamar/fonts/brandon_text_regular.svg) format('svg'), url(/stellamar/fonts/brandon_text_regular.ttf) format('truetype');
}
@font-face {
  font-family: "Brandon Grotesque Black";
  src: url(/stellamar/fonts/brandongrotesque-black-webfont.eot);
  src: url(/stellamar/fonts/brandongrotesque-black-webfont.eot?#iefix) format('embedded-opentype'), url(/stellamar/fonts/brandongrotesque-black-webfont.woff) format('woff'), url(/stellamar/fonts/brandongrotesque-black-webfont.svg) format('svg'), url(/stellamar/fonts/brandongrotesque-black-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Brandon Grotesque Regular";
  src: url(/stellamar/fonts/brandon_grotesque_regular.eot);
  src: url(/stellamar/fonts/brandon_grotesque_regular.eot?#iefix) format('embedded-opentype'), url(/stellamar/fonts/brandon_grotesque_regular.woff) format('woff'), url(/stellamar/fonts/brandon_grotesque_regular.svg) format('svg'), url(/stellamar/fonts/brandon_grotesque_regular.ttf) format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src: url("/stellamar/fonts/icomoon.eot?wycmvo");
  src: url("/stellamar/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/stellamar/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/stellamar/fonts/icomoon.woff?wycmvo") format("woff"), url("/stellamar/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 16, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 32, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*colors*/
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1043px;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 30, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid1 {
    width: 5.8907%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid2 {
    width: 14.08245%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid3 {
    width: 22.27421%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid4 {
    width: 30.46596%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid5 {
    width: 38.65772%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid6 {
    width: 46.84947%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid7 {
    width: 55.04123%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid8 {
    width: 63.23298%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid9 {
    width: 71.42474%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid10 {
    width: 79.61649%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid11 {
    width: 87.80825%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 50, ../sass/_grid.scss */
.grid:first-child {
  margin-left: 0;
}

/* line 1, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 4, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 9, ../sass/_general.scss */
body {
  font-family: "Brandon Text", sans-serif;
  line-height: 1.8;
  color: #111;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04);
}
/* line 14, ../sass/_general.scss */
body h1 {
  padding-bottom: 24px;
}
/* line 17, ../sass/_general.scss */
body p {
  margin-top: 34px;
}
@media (min-width: 960px) {
  /* line 17, ../sass/_general.scss */
  body p {
    padding-top: 0;
  }
}
/* line 23, ../sass/_general.scss */
body a {
  color: #008ed2;
  text-transform: uppercase;
  font-family: "Brandon Grotesque Black", sans-serif;
  text-decoration: none;
  display: inline-block;
}
/* line 29, ../sass/_general.scss */
body a:after {
  display: block;
  height: 2px;
  position: relative;
  width: 100%;
  top: -8px;
  background-color: #008ed2;
  content: "";
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
/* line 42, ../sass/_general.scss */
body a:hover:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

/* line 1, ../sass/_nav.scss */
nav {
  display: block;
  text-align: right;
  padding-bottom: 0px;
  background-color: #001531;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_nav.scss */
  nav {
    text-align: center;
  }
}
/* line 9, ../sass/_nav.scss */
nav .logo {
  display: none;
}
/* line 12, ../sass/_nav.scss */
nav.mob ul {
  display: none;
  position: fixed;
  background: #001531;
  margin-top: 50px;
  z-index: 700px;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 22, ../sass/_nav.scss */
nav.mob ul li {
  display: block;
  padding: 0;
  margin-top: 20px;
}
/* line 26, ../sass/_nav.scss */
nav.mob ul li a {
  color: #fff;
  font-family: "Brandon Text", sans-serif;
}
/* line 29, ../sass/_nav.scss */
nav.mob ul li a:after {
  display: none;
}
/* line 33, ../sass/_nav.scss */
nav.mob ul li ul {
  background: none;
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
}

@media (min-width: 1025px) {
  /* line 43, ../sass/_nav.scss */
  .sticky {
    padding-top: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
}

/* line 53, ../sass/_nav.scss */
.desk ul li {
  display: inline-block;
  padding: 0 15px 15px;
  position: relative;
}
@media (min-width: 1025px) {
  /* line 53, ../sass/_nav.scss */
  .desk ul li {
    padding: 0 32px 15px;
  }
}
/* line 60, ../sass/_nav.scss */
.desk ul li a {
  color: #fff;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.04);
  font-family: "Brandon Text", sans-serif;
  text-decoration: none;
}
/* line 65, ../sass/_nav.scss */
.desk ul li a:after {
  display: block;
  height: 3px;
  position: relative;
  width: 100%;
  top: 15px;
  background-color: #fff;
  content: "";
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
/* line 78, ../sass/_nav.scss */
.desk ul li a:hover:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
/* line 83, ../sass/_nav.scss */
.desk ul li .linkActive:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
/* line 87, ../sass/_nav.scss */
.desk ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}
/* line 95, ../sass/_nav.scss */
.desk ul li:hover ul {
  visibility: visible;
  background: #fff;
  opacity: 1;
  top: 46px;
  left: 10px;
  border-bottom: 3px solid #001531;
}
/* line 102, ../sass/_nav.scss */
.desk ul li:hover ul li {
  display: block;
  padding: 5px 100px 5px 20px;
  text-align: left;
}
/* line 106, ../sass/_nav.scss */
.desk ul li:hover ul li a {
  color: #111;
}
/* line 108, ../sass/_nav.scss */
.desk ul li:hover ul li a:after {
  height: 1px;
  top: 0;
  background-color: #111;
}
/* line 117, ../sass/_nav.scss */
.desk ul li:first-child {
  padding-left: 0;
}
@media (min-width: 1025px) {
  /* line 120, ../sass/_nav.scss */
  .desk ul li:last-child {
    padding-right: 0;
  }
}

/* line 126, ../sass/_nav.scss */
.mobile-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #001531;
  z-index: 700;
  height: 60px;
}
@media (min-width: 960px) {
  /* line 126, ../sass/_nav.scss */
  .mobile-header {
    display: none;
  }
}
/* line 136, ../sass/_nav.scss */
.mobile-header .logo {
  margin: 22px;
}
/* line 139, ../sass/_nav.scss */
.mobile-header .menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: #fff;
  background: none;
  border: none;
  outline: none;
}
/* line 148, ../sass/_nav.scss */
.mobile-header .menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 152, ../sass/_nav.scss */
.mobile-header .menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
}

/* line 1, ../sass/_sections.scss */
header {
  display: none;
  z-index: 1000;
  background: #001531;
}
@media (min-width: 960px) {
  /* line 1, ../sass/_sections.scss */
  header {
    display: block;
    padding-top: 15px;
    position: fixed;
    width: 100%;
  }
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_sections.scss */
  header {
    padding-top: 0;
    position: static;
  }
}
/* line 15, ../sass/_sections.scss */
header .logo {
  display: none;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
}
@media (min-width: 1025px) {
  /* line 15, ../sass/_sections.scss */
  header .logo {
    display: block;
  }
}
@media (min-width: 960px) {
  /* line 24, ../sass/_sections.scss */
  header .tablet-logo {
    position: fixed;
    top: 22px;
    left: 22px;
  }
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_sections.scss */
  header .tablet-logo {
    display: none;
  }
}

/* line 35, ../sass/_sections.scss */
.banner {
  margin-top: 55px;
  background: url(../bannerimg.jpg);
  height: 515px;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 960px) {
  /* line 35, ../sass/_sections.scss */
  .banner {
    margin-top: 0;
  }
}
/* line 44, ../sass/_sections.scss */
.banner .banner-box {
  color: #fff;
  background-color: rgba(0, 21, 49, 0.8);
  position: relative;
  top: 10%;
  width: 80%;
  margin: auto auto;
  text-align: center;
  padding: 36px;
  display: none;
}
/* line 54, ../sass/_sections.scss */
.banner .banner-box h1 {
  line-height: 1;
  font-size: 18px;
}
@media (min-width: 600px) {
  /* line 54, ../sass/_sections.scss */
  .banner .banner-box h1 {
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  /* line 54, ../sass/_sections.scss */
  .banner .banner-box h1 {
    font-size: 22px;
  }
}
/* line 64, ../sass/_sections.scss */
.banner .banner-box p {
  margin: 0;
  line-height: 1.4;
  font-family: "Brandon Grotesque Black", sans-serif;
  font-size: 24px;
}
@media (min-width: 600px) {
  /* line 64, ../sass/_sections.scss */
  .banner .banner-box p {
    font-size: 28px;
  }
}
@media (min-width: 960px) {
  /* line 64, ../sass/_sections.scss */
  .banner .banner-box p {
    font-size: 31px;
  }
}
@media (min-width: 600px) {
  /* line 44, ../sass/_sections.scss */
  .banner .banner-box {
    top: 20%;
  }
}
@media (min-width: 960px) {
  /* line 44, ../sass/_sections.scss */
  .banner .banner-box {
    width: 770px;
    top: 25%;
  }
}

/* line 85, ../sass/_sections.scss */
.about {
  padding-top: 65px;
  padding-bottom: 65px;
}
/* line 88, ../sass/_sections.scss */
.about h1 {
  font-size: 31px;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 2px solid #888888;
  display: inline;
  line-height: 1.2;
}
/* line 95, ../sass/_sections.scss */
.about h1 span {
  font-family: "Brandon Grotesque Black", sans-serif;
  font-size: 15px;
  display: block;
  padding: 0;
}
@media (min-width: 960px) {
  /* line 102, ../sass/_sections.scss */
  .about p {
    margin: 0;
  }
}

/* line 108, ../sass/_sections.scss */
.sectors {
  padding-top: 83px;
  padding-bottom: 83px;
  background-image: url(../img/sectorsbg.jpg);
  background-color: #eaeaea;
}
/* line 113, ../sass/_sections.scss */
.sectors .sector-box {
  background-color: #fff;
  padding-bottom: 20px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
/* line 119, ../sass/_sections.scss */
.sectors .sector-box img {
  width: 100%;
}
/* line 122, ../sass/_sections.scss */
.sectors .sector-box .text {
  margin: 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #888888;
  margin-bottom: 20px;
}
/* line 123, ../sass/_sections.scss */
.sectors .sector-box .text h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Brandon Grotesque Black", sans-serif;
  padding: 0;
  margin: 20px 0;
}
/* line 131, ../sass/_sections.scss */
.sectors .sector-box .text p {
  margin: 0;
}
/* line 138, ../sass/_sections.scss */
.sectors .sector-box a {
  margin-left: 30px;
}

/* line 143, ../sass/_sections.scss */
.three-sections {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* line 146, ../sass/_sections.scss */
.three-sections .grid4 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 151, ../sass/_sections.scss */
.three-sections p {
  margin: 24px 0;
}
/* line 154, ../sass/_sections.scss */
.three-sections h1 {
  font-family: "Brandon Grotesque Black", sans-serif;
  font-size: 22px;
  border-bottom: 1px solid #888888;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* line 162, ../sass/_sections.scss */
.contact {
  background: url("../img/contactbanner.jpg");
  background-position: center center;
  background-size: cover;
  padding: 62px 0 50px;
  color: #fff;
  text-align: center;
}
@media (min-width: 960px) {
  /* line 162, ../sass/_sections.scss */
  .contact {
    text-align: left;
  }
}
/* line 172, ../sass/_sections.scss */
.contact h1 {
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: "Brandon Grotesque Black", sans-serif;
  font-weight: normal;
}
/* line 179, ../sass/_sections.scss */
.contact p {
  margin: 0;
}
/* line 182, ../sass/_sections.scss */
.contact .contactlink {
  margin-top: 50px;
  text-align: center;
}
@media (min-width: 960px) {
  /* line 182, ../sass/_sections.scss */
  .contact .contactlink {
    width: 100%;
  }
}
/* line 188, ../sass/_sections.scss */
.contact .contactlink a {
  color: #fff;
  width: 100%;
  max-width: 240px;
  padding: 9px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.7;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
}
/* line 199, ../sass/_sections.scss */
.contact .contactlink a:hover {
  opacity: 1;
}
/* line 202, ../sass/_sections.scss */
.contact .contactlink a:after {
  display: none;
}

/* line 208, ../sass/_sections.scss */
footer {
  background: #001531;
  color: #fff;
  padding: 40px 0 0;
  text-align: right;
  text-transform: uppercase;
  overflow-y: hidden;
}
/* line 215, ../sass/_sections.scss */
footer .grid2 {
  height: 100%;
  padding-top: 20px;
}
@media (min-width: 960px) {
  /* line 215, ../sass/_sections.scss */
  footer .grid2 {
    padding-bottom: 20px;
  }
}
