/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Brandon Text";
  src: url(/fonts/brandon_text_regular.woff) format('woff'), url(/fonts/brandon_text_regular.svg) format('svg'), url(/fonts/brandon_text_regular.ttf) format('truetype');
}
@font-face {
  font-family: "Brandon Grotesque Black";
  src: url(/fonts/brandongrotesque-black-webfont.woff) format('woff'), url(/fonts/brandongrotesque-black-webfont.svg) format('svg'), url(/fonts/brandongrotesque-black-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Brandon Grotesque Regular";
  src: url(/fonts/brandon_grotesque_regular.woff) format('woff'), url(/fonts/brandon_grotesque_regular.svg) format('svg'), url(/fonts/brandon_grotesque_regular.ttf) format('truetype');
}
/*colors*/
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1043px;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 30, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid1 {
    width: 5.8907%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid2 {
    width: 14.08245%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid3 {
    width: 22.27421%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid4 {
    width: 30.46596%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid5 {
    width: 38.65772%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid6 {
    width: 46.84947%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid7 {
    width: 55.04123%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid8 {
    width: 63.23298%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid9 {
    width: 71.42474%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid10 {
    width: 79.61649%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 30, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 4.60211%;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid11 {
    width: 87.80825%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
  }
}

/* line 49, ../sass/_grid.scss */
.grid:first-child {
  margin-left: 0;
}

/* line 1, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 4, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 9, ../sass/_general.scss */
body {
  font-family: "Brandon Text", sans-serif;
  line-height: 1.8;
  color: #111;
}
/* line 13, ../sass/_general.scss */
body h1 {
  padding-bottom: 24px;
}
/* line 16, ../sass/_general.scss */
body p {
  padding-top: 34px;
}
@media (min-width: 1024px) {
  /* line 16, ../sass/_general.scss */
  body p {
    padding-top: 0;
  }
}
/* line 22, ../sass/_general.scss */
body a {
  color: #008ed2;
  text-transform: uppercase;
}

/* line 1, ../sass/_sections.scss */
header {
  background: #001531;
  height: 215px;
}

/* line 5, ../sass/_sections.scss */
.banner {
  background: url(/bannerimg.jpg);
  height: 515px;
  background-size: cover;
  background-position: center center;
}

/* line 11, ../sass/_sections.scss */
.about {
  padding-top: 65px;
  padding-bottom: 65px;
}
/* line 14, ../sass/_sections.scss */
.about h1 {
  font-family: "Brandon Text", sans-serif;
  font-size: 31pt;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 2px solid #888888;
  display: inline;
}
/* line 21, ../sass/_sections.scss */
.about h1 span {
  font-family: "Brandon Text", sans-serif;
  font-size: 15pt;
  display: block;
}

/* line 28, ../sass/_sections.scss */
.sectors {
  padding-top: 83px;
  padding-bottom: 83px;
  background-color: #eaeaea;
}

/* line 33, ../sass/_sections.scss */
.three-sections {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* line 36, ../sass/_sections.scss */
.three-sections .grid4 {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
/* line 41, ../sass/_sections.scss */
.three-sections h1 {
  font-family: "Brandon Grotesque Black", sans-serif;
  font-size: 22pt;
  border-bottom: 1px solid #888888;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
